{% extends "app.twig" %}

{% block title %}Home{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <h1>Index</h1>
    <p>Welcome to my awesome homepage. boi</p>
{% endblock %}