#sidebar {
    width: auto;
    top: 0;
    left: 0;
    height: auto;
    z-index: 999;
    padding: 16px;
    border-style: solid;
    border-width: thin;
    border-radius: 8px;
    border-color: #f8f9fa;
    transition: all 0.3s;
}

@media (max-width: 992px) {
    #sidebar {
        display: none;
    }
}

.footer {
    text-align: right;
    padding: 8px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #212529;
    color: white;
    margin-top: 16px;
}

.space {
    margin-top: 50px;
}